.about_us {
  padding-top: 412px;

  @media only screen and (max-width: $screen-1390px) {
    padding-top: 52px;
  }

  @media only screen and (max-width: $screen-900px) {
    padding-top: 150px;
  }

  &--left_box {
    width: 35%;
  }

  &--header {
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    font-family: "FuturaDemiC", "Arial", "Helvetica", sans-serif;
    text-transform: uppercase;
    color: $text-main_color;
  }

  &--title {
    position: relative;

    &::after {
      position: absolute;
      top: 53px;
      left: 212px;

      display: block;
      width: 92px;
      height: 1px;

      content: "";

      background-image: url("../assets/img/portfolio-title_line.svg");
      background-repeat: no-repeat;

      @media only screen and (max-width: $screen-950px) {
        display: none;
      }
    }
  }

  &--counter {
    display: inline-block;
    margin-top: 86px;

    font-size: 1.125rem;
    line-height: 1.5625rem;
    color: $text-main_color;
  }

  &--title-small {
    margin: 0;
    margin-top: 18px;

    font-size: 0.9375rem;
    line-height: 1.4375rem;

    &::after {
      content: none;
    }
  }

  &--description {
    width: 85%;
    margin-top: 9px;

    font-size: 0.9375rem;
    line-height: 1.5625rem;
    
    @media only screen and (max-width: $screen-800px) {
      font-size: 0.8rem;
    line-height: 1.2rem;
    }
  }

  &--slider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    width: 70%;
    margin-top: 100px;

    @media only screen and (max-width: $screen-900px) {
      display: none;
    }
  }

  &--right_box {
    width: 65%;
    margin-left: 5%;
  }

  &--menu {
    
    display: -ms-grid;
    
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    margin-top: 102px;

    .menu--item {
      margin: 0;
      margin-bottom: 40px;

      &:nth-child(3n + 1) {
        -ms-grid-column-align: start;
            justify-self: start;
      }

      &:nth-child(3n + 2) {
        -ms-grid-column-align: center;
            justify-self: center;
      }

      &:nth-child(3n + 3) {
        -ms-grid-column-align: end;
            justify-self: end;
      }
    }

    .menu--link {
      display: block;
      padding: 0;

      opacity: 0.3;

      &-active {
        opacity: 1;
      }

      &:focus,
      &:hover,
      &:active {
        background-color: transparent;
        outline: 2px solid $contrast_color-dark_theme;

        opacity: 1;
      }
    }

    .link--counter {
      display: inline-block;
      margin-bottom: 9px;

      font-size: 0.9375rem;
      line-height: 1.3125rem;
      color: #FFFFFF;

      border-bottom: 1px solid $contrast_color-dark_theme;
    }

    .link--description {
      display: block;
      width: 120px;

      font-size: 0.9375rem;
      line-height: 1.125rem;
      text-transform: none;
      color: #FFFFFF;
    }
  }

  &--menu > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

  &--menu > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2
  }

  &--menu > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3
  }

  &--menu > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1
  }

  &--menu > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2
  }

  &--menu > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3
  }

  &--image {
    width: 100%;
    margin-top: 10px;
  }
}
