.bg_wrapper {

  &-dark_theme {
    background-color: $bg_color-dark_theme;

    @media only screen and (max-width: $screen-mobile) {
      background-color: $bg_color-dark_theme-mobile;
    }
  }

  &-light_theme {
    background-color: $bg_color-light_theme;

    // @media only screen and (max-width: $screen-mobile) {
    //   background-color: $bg_color-dark_theme-mobile;
    // }
  }

  &-contacts_bg_image {
    position: relative;

    height: 954px;

    background-color: $bg_color-dark_theme;
    background-image: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%),
                      url("../assets/img/bg-contacts.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: $screen-mobile) {
      z-index: -1; 
    }
  }

  &-styles_bg_image {

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('../assets/img/bg-styles.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: $screen-mobile) {
      position: relative; 
    }
  }

  &-team_clients {
    height: 1523px;
  }

  &-mobile_dark_theme {

    @media only screen and (max-width: $screen-mobile) {
      background-color: $bg_color-dark_theme-mobile;
    }
  }

}