.bg_wrapper {
  &-dark_theme {
    background-color: $bg_color-dark_theme;

    @media only screen and (max-width: $screen-mobile) {
      background-color: $bg_color-dark_theme-mobile;
    }
  }

  &-light_theme {
    background-color: $bg_color-light_theme;

    // @media only screen and (max-width: $screen-mobile) {
    //   background-color: $bg_color-dark_theme-mobile;
    // }
  }

  &-contacts_bg_image { // todo: bg-image
    position: relative;

    background-color: $bg_color-dark_theme;
  }

  &-styles_bg_image {

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('../assets/img/bg-styles.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: $screen-mobile) {
      position: relative; 
    }
  }

  &-mobile_dark_theme {

    @media only screen and (max-width: $screen-mobile) {
      background-color: $bg_color-dark_theme-mobile;
    }
  }
}