.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}           

.centralizer {
  box-sizing: border-box;
  width: 87.5%; //1260px
  margin: 0 auto;
  padding: 0 10px;

  outline: 1px solid magenta;

  @media only screen and (max-width: $screen-mobile) {
    width: 375px; //375px
    padding: 0 17px 0 18px;
  }
}

.link {
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "FuturaDemiC", "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: $contrast_color-dark_theme;

  &:focus,
  &:hover,
  &:active {
    color: $link_color-hover-dark_theme;
    
    background-color: $link_bg_color-hover-dark_theme;
    outline-color: $link_bg_color-hover-dark_theme;
  }
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.flex {
  display: flex;
}

.button {
  padding: 10px 20px;

  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-family: "FuturaDemiC", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  border: none;
  border-radius: 3px;
  background-color: $contrast_color-dark_theme;

  &:focus,
  &:hover,
  &:active {
    color: $link_color-hover-dark_theme;
      
    background-color: $link_bg_color-hover-dark_theme;
    outline-color: $link_bg_color-hover-dark_theme;
  }
}

.title {
  margin: 0;
  
  font-size: 1.6875rem;
  line-height: 2.3125rem;
  font-weight: normal;
  font-family: "Yeseva One", "Georgia", "Lucida Bright", serif;
  text-transform: uppercase;
  color: $contrast_color-dark_theme;
}

.paragraph {
  margin: 0;
  
  font-size: 1.125rem;
  line-height: 1.8125rem;
  font-family: "FuturaBookC", "Arial", "Helvetica", sans-serif;
  color: $presentation-text_color;
}

.table {

  border-collapse: collapse;

  &--th {
    padding-top: 40px;

    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-family: "Yeseva One", "Georgia", "Lucida Bright", serif;
    text-align: left;
    text-transform: uppercase;
    color: $contrast_color-dark_theme;

    &:not(:first-child) {
      padding-left: 20%; // 80
    }
  }

  &--td {
    font-family: "FuturaBookC", "Arial", "Helvetica", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;

    color: $text-main_color;

    &:not(:first-child) {
      padding-left: 20%; // 80
    }
  }
}

.slider {

  &--button {
    width: 10px;
    height: 10px;
    padding: 0;

    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 50%;

    &-active {
      background-color: rgba(255, 255, 255, 1);
    }

    &:focus,
    &:hover,
    &:active {
      background-color: $contrast_color-dark_theme;
      outline-color: $contrast_color-dark_theme;

      cursor: pointer;
    }

    &-previous,
    &-next {
      width: 41px;
      min-height: 17px;

      background-color: transparent;
      background-image: url("../assets/img/portfolio-slider-button.svg");
      background-repeat: no-repeat;
      background-position-y: 2px; 
      border-radius: 0;
    }

    &-next {
      transform: rotate(180deg);
    }
  }
}

.gallery {
  position: relative;

  &--image {
  position: absolute;

  width: 679px;
  min-height: 482px;
  padding-right: 20px;

  background-color: $bg_color-dark_theme;

  z-index: 2;
  }

  &--image:nth-child(2) {
    position: absolute;
    left: 67%;
    z-index: 1;
  }

  &--button {
    position: absolute;
    top: 267px;
    right: 3.5%;

    width: 85px;
    height: 85px;
    padding: 0;

    background-color: transparent;
    background-image: url("../assets/img/portfolio-gallery-button.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;

    z-index: 3;

    &:focus,
    &:hover,
    &:active {
      background-color: rgba(227, 184, 115, 0.3);
      outline: 0;
      border-radius: 50%;

      cursor: pointer;
    }
  }
}

.mobile_hidden {
  @media only screen and (max-width: $screen-mobile) {
    display: none; 
  }
}

.desktop_hidden {
  @media only screen and (min-width: $screen-mobile) {
    background-color: transparent;
  }
}