.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}           

.centralizer {
  box-sizing: border-box;
  width: 87.5%; // size --- 1260px
  margin: 0 auto;
  padding: 0 10px;

  @media only screen and (max-width: $screen-mobile) {
    width: 375px;
    padding: 0 17px 0 18px;
  }
}

.link {
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "FuturaDemiC", "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: $contrast_color-dark_theme;

  &:focus,
  &:hover,
  &:active {
    color: $link_color-hover-dark_theme;
    
    background-color: $link_bg_color-hover-dark_theme;
    outline-color: $link_bg_color-hover-dark_theme;
  }
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.flex {
  display: flex;
}

.button {
  padding: 10px 20px;

  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-family: "FuturaDemiC", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: $text-main_color;

  border: none;
  border-radius: 3px;
  background-color: $contrast_color-dark_theme;

  &:focus,
  &:hover,
  &:active {
    color: $link_color-hover-dark_theme;
      
    background-color: $link_bg_color-hover-dark_theme;
    outline-color: $link_bg_color-hover-dark_theme;

    cursor: pointer;
  }
}

.title {
  margin: 0;
  
  font-size: 1.6875rem;
  line-height: 2.3125rem;
  font-weight: normal;
  font-family: "Yeseva One", "Georgia", "Lucida Bright", serif;
  text-transform: uppercase;
  color: $contrast_color-dark_theme;

  &-small {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: $text-main_color;

  }
}

.paragraph {
  margin: 0;
  
  font-size: 1.125rem;
  line-height: 1.8125rem;
  font-family: "FuturaBookC", "Arial", "Helvetica", sans-serif;
  color: $presentation-text_color;
}

.icon {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.mobile_hidden {
  @media only screen and (max-width: $screen-mobile) {
    display: none; 
  }
}

.desktop_hidden {
  @media only screen and (min-width: $screen-desktop_to_mobile) {
    display: none;
  }
}