.contacts {

  @media only screen and (max-width: $screen-mobile) {
    background-color: $bg_color-dark_theme-mobile;
  }

  &--flex_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &--description {
    width: 50%;
    margin: 0 auto;
    padding-top: 273px;

    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;

    @media only screen and (max-width: $screen-mobile) {
      width: 100%;
      padding-top: 41px;

      font-size: 1.125rem;
      line-height: 138.6%;
    }
  }

  &--link {
    font: inherit;

    @media only screen and (max-width: $screen-mobile) {
      display: block; 
      width: 100%;

      text-align: center;
    }
  }

  &--social {
    margin: 0 auto;
    margin-top: 23px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    .social--link {
      display: inline-block;
      width: 28px;
      height: 28px;

      background-color: $contrast_color-dark_theme;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;

      @media only screen and (max-width: $screen-mobile) {
        width: 39px;
        height: 39px;

        background-size: 60%
      }

      &-email {
        margin-right: 15px;

        background-image: url("../assets/img/contacts-email_icon.svg");
      }

      &-instagram {
        background-image: url("../assets/img/contacts-telegram_icon.svg");
      }

      &:focus,
      &:hover,
      &:active {
        outline: 0;
        -webkit-box-shadow: 0px 0 20px rgba(227, 184, 115, 1);
                box-shadow: 0px 0 20px rgba(227, 184, 115, 1);
      }
    }
  }

  &--map {

    .map--image {
      display: block;
      width: 925px;
      height: 465px;
      margin: 0 auto;
      padding: 0;
      padding-top: 39px;

      -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);

              box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);

      @media only screen and (max-width: $screen-1390px) {
        width: 80%;
        height: auto;
      }

      @media only screen and (max-width: $screen-mobile) {
        width: 340px;
        height: 255px;
        
        padding-top: 47px;
      }
    }

    @media only screen and (max-width: $screen-mobile) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
    }
  }
}