.design_feature {

  &--title {
    padding-top: 152px;

    color: $text-title_color-light_theme;

    @media only screen and (max-width: $screen-mobile) {
      padding-top: 50px;
      font-size: 1.3755rem;
      line-height: 138.6%;
      color: $text-main_color;
    }
  }

  &--icon {
    width: 114px;
    height: 28px;

    background-image: url("../assets/img/design_feature-title_icon.svg");
    background-repeat: no-repeat;

    @media only screen and (max-width: $screen-1390px) {
      margin-top: 15px;
    }
  }

  &--description {

    width: 55%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 42px;

    font-size: 1.25rem;
    line-height: 1.6875rem;

    color: $text-contrast_color_light_theme;
    text-align: center;

    @media only screen and (max-width: $screen-1390px) {
      width: 60%;
      margin-bottom: 32px;
    }

    @media only screen and (max-width: $screen-mobile) {
      width: 85%;
      font-size: 0.9375rem;
      line-height: 135.84%;
      color: $text-main_color;
    }
  }

  &--cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    position: relative;
    top: 6px;

    min-height: 286px;
    margin: 0 auto;

    @media only screen and (max-width: $screen-1390px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }

  .cards--item {
    @media only screen and (max-width: $screen-1390px) {
      margin: 0 auto;
      margin-bottom: 80px;
    }
  }
  
  .cards--img {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);

    @media only screen and (max-width: $screen-1390px) {
      -webkit-filter: none;
              filter: none;
    }
  }

  .cards--wrapper {
    position: absolute;
    left: 0;
    right: 0;

    @media only screen and (max-width: $screen-1390px) {
      position: relative;

      width: 270px;
      min-height: 177px;
      margin: 0;
      margin-top: 223px;
      padding-top: 17px;
      padding-left: 31px;
      padding-bottom: 41px;

      -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);

              box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }
  }

  .cards--title {
    @media only screen and (max-width: $screen-1390px) {
      font-size: 0.9375rem;
      line-height: 138.6%;
    }
  }

  .cards--services {
    min-height: 20px;

    @media only screen and (max-width: $screen-1390px) {
      max-height: 154px;
      margin-top: 3px;

      font-size: 0.8125rem;
      line-height: 1.375rem;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
    }
  }

  .services--item:last-of-type {
    padding-bottom: 58px;

    @media only screen and (max-width: $screen-1390px) {
      padding-bottom: 0;
    }
  }

  .cards--button {
    bottom: -25px;
    left: 0;

    padding-left: 34px;

    text-align: left;

    @media only screen and (max-width: $screen-1390px) {
      position: absolute;
      bottom: -20px;
      
      width: 190.5px;
      min-height: 40px;
      padding-left: 0;

      font-size: 0.9375rem;
      line-height: 138.6%;
      text-align: center;

      -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

              box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    }
  }
}