.footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &--navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 46.43%;
  }

  &--phone {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 26.19%;
    min-height: 83px;

    @media only screen and (max-width: $screen-1390px) {
      width: 30%;
    }

    @media only screen and (max-width: $screen-1180px) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      
      width: 20%;
    }
  }
}