.header {

  justify-content: space-between;
  align-items: center;

  &--navigation {
    align-items: center;

    width: 46.43%;
  }

  &--phone {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 26.19%;//330px;

    @media only screen and (max-width: $screen-1390px) {
      width: 30%;
    }

    @media only screen and (max-width: $screen-1180px) {
      justify-content: center;

      width: 20%;
    }

    @media only screen and (max-width: $screen-mobile) {
      justify-content: flex-end;
      width: 40%;
    }
  }
  
}