.menu {

  &--item {
    margin: 5px;
  }

  &--link {
    padding: 5px;

    font-family: "FuturaBookC", "Arial", "Helvetica", sans-serif;
    color: $menu--link-text_color;

      &-active {
      color: $contrast_color-dark_theme;
    }
  }
}