.menu {

  &--item {
    margin: 5px;
  }

  &--link {
    padding: 5px;

    // font-size: 14px;
    // line-height: 16px;
    // font-family: "FuturaBookC", "Arial", "Helvetica", sans-serif;
    // text-transform: uppercase;
    color: #FFFFFF;

      &-active {
      color: $contrast_color-dark_theme;
    }
  }
}