.portfolio {

  @media only screen and (max-width: $screen-mobile) {
    flex-direction: column;

    position: relative;
  }

  &--left_box {
    width: 35%;
    margin-left: 7%;

    @media only screen and (max-width: $screen-mobile) {
      width: 100%;
      margin-left: 0;
    }
  }

  &--title {
    position: relative;

    margin-top: 75px;
    margin-bottom: 20px;

    letter-spacing: -0.07em;

    @media only screen and (max-width: $screen-mobile) {
      margin: 0;
      margin-bottom: 25px;
      padding-top: 35px;

      font-size: 1.375rem;
      line-height: 138.6%;
      text-align: center;
    }

    &::after {
      position: absolute;
      top: 55px;
      left: 170px;

      display: block;
      width: 92px;
      height: 1px;

      content: "";

      background-image: url("../assets/img/portfolio-title_line.svg");
      background-repeat: no-repeat;

      @media only screen and (max-width: $screen-950px) {
        display: none;
      }
    }
    
  }

  &--description {
    padding-right: 11%;

    @media only screen and (max-width: $screen-mobile) {
      width: 83%;
      margin: 0 auto; 
      padding: 0;

      font-size: 0.875rem;
      line-height: 158.48%;
      text-align: center;
    }
  }

  &--table {
    @media only screen and (max-width: $screen-mobile) {
      width: 91%;
      margin: 0 auto;
      margin-top: 50px;
      position: relative;
      top: 272px;
    }

    @media only screen and (max-width: $screen-500px) {
      margin-top: 0;
    }
  }

  .menu {

    &--item {
      margin-right: 5%;
    }

    &--link {
      padding-bottom: 5px;
  
      font-size: 0.875rem;
      line-height: 1.1875rem;
      font-family: "Yeseva One", "Georgia", "Lucida Bright", serif;
      color: rgba(255, 255, 255, 0.3);

      @media only screen and (max-width: $screen-1080px) {
        display: block;

        font-size: 0.775rem;
        line-height: 1.175rem;
        text-align: center;
      }
      
      &-active {
        color: $contrast_color-dark_theme;
  
        border-bottom: 1px solid $contrast_color-dark_theme;

        @media only screen and (max-width: $screen-1080px) {
          border-bottom: 1px solid transparent;
        }
      }

      &:focus,
      &:hover,
      &:active {
        color: $link_color-hover-dark_theme;
      }
    }
  }

  &--slider {
    justify-content: space-around;
    
    width: 50%;
    margin-top: 90px;

    @media only screen and (max-width: $screen-1180px) {
      margin-top: 30px;
    }

    @media only screen and (max-width: $screen-1080px) {
      display: none;
    }

  }

  &--right_box {
    position: relative;

    width: 60%;

    @media only screen and (max-width: $screen-1180px) {
      width: 80%;
    }

    @media only screen and (max-width: $screen-mobile) {
      position: static;

      width: 100%;
    }
  }

  &--menu {
    justify-content: left;

    margin-bottom: 50px;

    @media only screen and (max-width: $screen-1080px) {
      margin-bottom: 0;
    }
  }

  &--gallery {
    position: absolute;
    right: 0;

    width: 100%;
    min-height: 482px;

    overflow: hidden;

    @media only screen and (max-width: $screen-mobile) {
      top: 246px;

      min-height: 242px;
    }
  }
}