.presentation {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  margin-bottom: 100px;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
              url('../assets/img/bg-presentation.jpg');

  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('../assets/img/bg-presentation.jpg');

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('../assets/img/bg-presentation.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: $screen-mobile) {
    margin-bottom: 0;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
                url('../assets/img/bg-presentation-mobile.jpg');

    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../assets/img/bg-presentation-mobile.jpg');

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../assets/img/bg-presentation-mobile.jpg');
  }

  &--container {
    width: 100%;
    min-height: 300px;
    margin-left: 4.17%;
  }

  &--title {
    margin-bottom: 20px;
    
    font-size: 2.5rem;
    line-height: 3.3125rem;
    color: $presentation-text_color;

    @media only screen and (max-width: $screen-mobile) {
      padding-top: 85px;
      margin-bottom: 12px;

      font-size: 1.4375rem;
      line-height: 132.83%;
    }
  }
  
  &--city_name {
    color:  $presentation-city_name_text_color;
  }

  &--description {
    display: inline-block;
    width: 35%;
    margin-bottom: 50px;

    font-size: 1.375rem;
    line-height: 1.875rem;

    @media only screen and (max-width: $screen-mobile) {
      width: 80%;
      margin-bottom: 34px;

      font-size: 1.125rem;
      line-height: 135.84%;
    }
  }

  &--button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 205px;
    min-height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;

    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

    @media only screen and (max-width: $screen-mobile) {
      width: 95%;
      margin-bottom: 27px;

      font-size: 0.8125rem;
      line-height: 0.9375rem;

      border-radius: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    
    &-transparent_bg {
      background-color: transparent;
      border: 1px solid $bg_color-light_theme;

      -webkit-box-shadow: none;

              box-shadow: none;

      @media only screen and (max-width: $screen-mobile) {
        border-radius: 0;
      }
    }
  }

  &--social_link {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: absolute;
    left: -10%;
    bottom: 55%;

    width: 175px;

    font-size: 0.875rem;
    line-height: 1rem;
    font-family: "FuturaDemiC", "Arial", "Helvetica", sans-serif;
    color: $contrast_color-dark_theme;

    -webkit-transform: rotate(90deg);

        -ms-transform: rotate(90deg);

            transform: rotate(90deg);

    @media only screen and (max-width: $screen-1240px) {
      display: none;
    }
  }

  &--social_link_line {
    display: inline-block;
    width: 2px;
    height: 51px;
    margin-right: 20px;

    background-image: url("../assets/img/presentation-social_link_line.svg");
    background-repeat: no-repeat;

    -webkit-transform: rotate(90deg);

        -ms-transform: rotate(90deg);

            transform: rotate(90deg);
  }

  &--scroll_down_button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: absolute;
    bottom: -50px;
    left: -6.5%;

    width: 250px;
    min-height: 100px;
    margin: 0;

    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-family: "Yeseva One", "Georgia", "Lucida Bright", serif;

    background-color: $bg_color-dark_theme;
    border-radius: 0;

    @media only screen and (max-width: $screen-1240px) {
      left: 0;
    }
  }

  &--scroll_down_icon {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin-left: 15px;

    background-image: url("../assets/img/presentation-scroll_down_button.svg");
    background-repeat: no-repeat;
  }
}