.team {

  &--title {
    padding-top: 2px;

    @media only screen and (max-width: $screen-mobile) {
      font-size: 1.3755rem;
      line-height: 138.6%;
      color: $text-main_color;
    }
  }

  &--icon {
    width: 114px;
    height: 29px;
    margin-top: 13px;

    background-image: url("../assets/img/team-title_icon.svg");
    background-repeat: no-repeat;

    @media only screen and (max-width: $screen-mobile) {
      margin-top: 10px;
    }
  }

  &--description {
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;

    font-size: 1.25rem;
    line-height: 1.6875rem;
    text-align: center;

    &-light_theme {
      position: relative;

      width: 45%;
      margin-top: 65px;
      margin-bottom: 0;

      line-height: 2.125rem;
      color: $text-contrast_color_light_theme;

      .line_icon {
        position: relative;
        top: -12px;

        display: block;
        width: 55px;
        height: 2px;
        margin: 0 auto;

        background-image: url("../assets/img/team-paragraph_line.svg");
        background-repeat: no-repeat;
      }
    }

    @media only screen and (max-width: $screen-mobile) {
      width: 100%;
      margin-bottom: 82px;


      font-size: 0.9375rem;
      line-height: 135.84%;
      color: $text-main_color;
    }
  }

  &--cards {
    justify-content: space-evenly;

    position: relative;

    min-height: 414px;
    margin: 0 auto;

    @media only screen and (max-width: $screen-mobile) {
      flex-direction: column;
    }
  }

  .cards--item {
    width: 272px;

    @media only screen and (max-width: $screen-mobile) {
      width: 304px;
      margin: 0 auto;
      margin-bottom: 89px;
      padding-left: 32px;
    }
  }

  .cards--img {
    @media only screen and (max-width: $screen-mobile) {
      width: 304px;

      z-index: 2;
    }
  }
  
  .cards--wrapper {
    width: 233px;
    margin: 0 auto;
    margin-top: 277px;
    padding: 0;
    padding-top: 20px;

    @media only screen and (max-width: $screen-mobile) {
      position: relative;
      left: -4px;
    }
  }

  .cards--title {
    text-align: center;

    @media only screen and (max-width: $screen-mobile) {
     color: $text-form_color;
    }
  }

  .cards--profession {
    margin: 0;
    margin-top: 2px;

    font-size: 1.125rem;
    line-height: 1.625rem;
    font-family: "FuturaBookC", "Arial", "Helvetica", sans-serif;
    text-align: center;
  }

  .cards--experience {
    box-sizing: border-box;
    min-height: 44px;
    margin: 0;
    margin-top: 20px;
    padding-top: 10px;

    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-family: "Yeseva One", "Georgia", "Lucida Bright", serif;
    text-align: center;
    text-transform: uppercase;
    color: $text-main_color;

    background-color: $contrast_color-dark_theme;
  }

  .cards--label {
    position: absolute;
    top: -35px;
    left: -35px;

    width: 70px;
    height: 70px;

    background-color: $contrast_color-dark_theme;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);

    @media only screen and (max-width: $screen-mobile) {
      left: -2px;

      z-index: 2;
     }

    &-manager {
      background-image: url("../assets/img/team-card_manager_icon.svg");
    }

    &-designer {
      background-image: url("../assets/img/team-card_designer_icon.svg");
    }

    &-foreman {
      background-image: url("../assets/img/team-card_foreman_icon.svg");
    }
  }
}