.title {
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "FuturaDemiC", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  color: $contrast_color-dark_theme;

  &--link {
    display: block;
    padding: 5px;
  }
}