$main-color: #ffffff;

// ***** Bg colors *****
$bg_color-dark_theme: #131313;
$bg_color-light_theme: #ffffff;
$contrast_color-dark_theme: #e3b873;
$bg_color-black: #000000;

$bg_color-dark_theme-mobile: #252525;
$bg_color-light_theme-mobile: #ffffff;

// ***** Link colors *****
$link_color-hover-dark_theme: #131313;
$link_bg_color-hover-dark_theme: #ffffff;

// ***** Screen sizes *****
$screen-large: 980px;
$screen-mobile: 600px;

// ***** Text colors *****
$menu--link-text_color: #ffffff;

$presentation-text_color: #ffffff;
$presentation-city_name_text_color: #E3B873;

$text-main_color: #ffffff;
$text-contrast_color_light_theme: #363636;

//Forms
$text-form_color: #181818;
$text-label_color: rgba(54, 54, 54, 0.5);
$text-placeholder_color:#363636;
$checkbox_color: #e3b873;
$form_outline_color: #e3b873;
$text-title_color-light_theme: #181818;

//Cards
$text-card_item_color:#959595;
