$main-color: #ffffff;

// ***** Bg colors *****
$bg_color-dark_theme: #131313;
$bg_color-light_theme: #ffffff;
$contrast_color-dark_theme: #e3b873;
$bg_color-black: #000000;
$bg_color-form: #181818;

$bg_color-dark_theme-mobile: #181818;
$bg_color-light_theme-mobile: #ffffff;

// ***** Link colors *****
$link_color-hover-dark_theme: #131313;
$link_bg_color-hover-dark_theme: #ffffff;

// ***** Screen sizes *****
$screen-1390px: 1390px;
$screen-1240px: 1240px;
$screen-1180px: 1180px;
$screen-1080px: 1080px;
$screen-950px: 950px;
$screen-900px: 900px;
$screen-800px: 800px;
$screen-desktop_to_mobile: 651px;
$screen-mobile: 650px;
$screen-500px: 500px;

// ***** Text colors *****
$menu--link-text_color: #726d6d;

$presentation-text_color: #ffffff;
$presentation-city_name_text_color: #E3B873;

$text-main_color: #ffffff;
$text-contrast_color_light_theme: #363636;

// ***** Forms colors *****
$text-form_color: #181818;
$text-label_color: rgba(54, 54, 54, 0.5);
$text-label_color_mobile: rgba(255, 255, 255, 0.5);
$text-placeholder_color:#363636;
$checkbox_color: #e3b873;
$form_outline_color: #e3b873;
$text-title_color-light_theme: #181818;

// ***** Other colors *****
$text-card_item_color:#959595;

$text-clients_color: #181818;
