$bg_color-dark_theme: #131313;
$contrast_color-dark_theme: #E3B873;

$bg_color-dark_theme-mobile: #252525;
$bg_color-black: #000000;
$bg_color-light_theme-mobile: #ffffff;

$link_color-hover-dark_theme: #131313;
$link_bg_color-hover-dark_theme: #ffffff;

$screen-large: 980px;
$screen-mobile: 600px;